/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.head-background {
	-fx-background-color: linear-gradient(to left, #fff, #795AF3); 
}

/*Style of entire tableView*/
.table-view{
    /*-fx-background-color: transparent;*/
 }

 /*Style of entire tableView when is getting focused*/
.table-view:focused{
    /*-fx-background-color: transparent;*/
}

/*Style of each column header in the tableView*/
.table-view .column-header {
     -fx-background-color: transparent;
} 

/*Style of each column header's background in the tableView*/
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

 /*Style of each column header's label  in the tableView*/
.table-view .column-header-background .label{
    -fx-background-color: transparent; 
    -fx-font-weight: italic;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

/*Style of each column in the tableView*/
.table-view .table-column{
    -fx-alignment:center;
}

 /*Style of each table cell*/
.table-view .table-cell{
    -fx-font-size:15px;           /*the font size you asked in the comments below*/
    /* -fx-text-fill:orange; */

}


/*Style for each <non odd> row of table view*/
 .table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; 
}

/*Style for each <odd> row of table view*/
.table-row-cell:odd{
    -fx-background-color: #f0f5f5;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;  
}


/*Style of each entire row in the table view*/
.table-row-cell:selected {
   /* -fx-border-color:transparent firebrick transparent firebrick  ;
    -fx-border-width:2.0; */
    -fx-text-fill: #e60000;
    -fx-background-color: #cccccc;
}


/*Style of each entire row in the table view when is hovered*/
.table-row-cell:hover {
    -fx-background-color: #c0c0c0;
}

/*Style of each entire row in the table view when is getting focused*/
.table-row-cell:focused {
    /*-fx-background-color:purple; */
}
.btnLogin{
	
}

.profile{
	-fx-font-family: "Times New Roman";
	-fx-font-size: 20;
}
