/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.btnNavigation{
	-fx-background-color: #1D2026;
}
.btnNavigation:hover{
	-fx-background-color: #3B3D42;
}
.btnNavigation:pressed{ 
	-fx-background-color: #1C1E24;
}